<body id="home">

	<div id="container">
		<div id="masthead">
			<div id="logo">
				<h1><%= link_to 'ConOak Partners', root_path %><!--<a href="index.html">ConOak Partners</a>--></h1>
			</div>
			<div id="flash"></div>
			<div id="navigation">
				<ul>
					<li id="nav-about"><%= link_to 'ABOUT', about_path %></li>
					<li id="nav-services"><%= link_to 'SERVICES', services_path %></li>
					<li id="nav-partners"><%= link_to 'PARTNERS', partners_path %></li>
					<li id="nav-resources"><%= link_to 'RESOURCES', resources_path %></li>
					<li id="nav-contact"><%= link_to 'CONTACT', contact_path %></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="sidebar">
				<div class="cushycms"><%= image_tag 'img_secondary-home.jpg' %></div>
				<h3 class="cushycms">Welcome!</h3>
				<p class="cushycms"><span style="font-size: larger; ">We are so glad you've visited! Our website is currently a work in progress, but please look around and let us know what you think- we would love feedback on how the site can be more useful. You can email Connie directly under the </span><a href="contact.html"><strong><span style="font-size: larger; ">Contacts</span></strong></a><span style="font-size: larger; "> page.<br />
<br />
Be sure and check back often as we have monthly and weekly tips, industry news, and new blog postings under </span><strong><span style="font-size: larger; "><a href="connies_corner.html">Connie's Corne</a></span></strong><strong><span style="font-size: larger; "><a href="connie'scorner.html">r</a></span></strong><span style="font-size: larger; ">. </span><br />
<br />
&nbsp;<br />
<br />
<br type="_moz" /></p>
			</div>
			<div id="main">
				<%= image_tag 'img_main-home2.jpg' %>
				<h2 class="cushycms">An ounce of prevention...</h2>
				<div class="cushycms"><p><span style="font-size: larger; ">ConOak Partners is a Tulsa-based consulting group which specializes in estate planning, succession planning, and long-term financial planning with particular expertise in using life insurance to fulfill the goals of all these plans.&nbsp;<br />
</span> &nbsp;<br />
<a href="connies_corner.html" id="connies-corner"><br />
</a><span style="font-size: larger; ">Our company draws upon some of the brightest minds in the insurance, legal, and accounting fields to create customized, <em>holistic </em>solutions to a variety of problems facing high net worth individuals, families, and their business holdings.&nbsp;&nbsp;</span><a href="about.html"><span style="font-size: larger; "><strong>Read More</strong></span></a></p></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>
