<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @assignment.references %>
</p>

<p>
  <b>References:</b>
  <%= @assignment.references %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
