<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <title>ConOak Partners</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'controls', 'cufon-yui', 'DD_belatedPNG', 'dragdrop', 'effects', 'jquery-1.3.2.min', 'prototype', 'rails', 'swfobject', 'whitney_500.font' %>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>
  
  <script type="text/javascript">
  	Cufon.replace('h2, h3, #navigation li a', { fontFamily: 'whitney', hover: 'true' });
  </script>
  
  <script type="text/javascript">
      swfobject.embedSWF("flash/leaf.swf", "flash", "400", "185", "8.0.0");
  </script>
  
  <%= yield :head %>
  
</head>
<body>

<%= yield %>

</body>
</html>
