<% content_for :head do %>
<!--[if lte IE 6]> 
    <script src="js/DD_belatedPNG.js"></script>
    <script>
      DD_belatedPNG.fix('#leaf, img');
    </script>
<![endif]-->
<% end %>

<body id="sub" class="about">

	<div id="container">
		<div id="masthead">
			<div id="logo">
				<h1><%= link_to 'ConOak Partners', root_path %></h1>
			</div>
			<div id="navigation">
				<ul>
					<li id="nav-about"><%= link_to 'ABOUT', about_path %></li>
					<li id="nav-services"><%= link_to 'SERVICES', services_path %></li>
					<li id="nav-partners"><%= link_to 'PARTNERS', partners_path %></li>
					<li id="nav-resources"><%= link_to 'RESOURCES', resources_path %></li>
					<li id="nav-contact"><%= link_to 'CONTACT', contact_path %></li>
				</ul>
			</div>
			<div id="leaf"><%= image_tag 'img_sub-leaf.png' %></div>
		</div>
		<div id="content">
			<div id="main">
				<h1>Editing <%= @post.subject %></h1>

					<%= render 'form' %>

					<%= link_to 'Show', @post %> |
					<%= link_to 'Back', posts_path %>
		</div>
		<div id="footer">
			<div id="text-nav">
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'ABOUT', about_path %></li>
					<li><%= link_to 'SERVICES', services_path %></li>     
					<li><%= link_to 'PARTNERS', partners_path %></li>    
					<li><%= link_to 'RESOURCES', resources_path %></li>  
					<li><%= link_to 'CONTACT', contact_path %></li>
					<% if current_user %>
						<li><%= link_to 'LOGOUT', logout_path %></li>
					<% else %>
						<li><%= link_to 'LOGIN', login_path %></li>
					<% end %>
				</ul>
		</div>
		<div id="copyright">
			ConOak Partners&reg; 2010
		</div>
		<div class="clear"></div>
	</div>
</div>

</body>